.checkoutBtn {
  background-color: hsl(26, 100%, 55%);
  color: white;
  padding: 1rem 5rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
}

.CartItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
}

.cartList {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
}
.txt {
  font-size: 1rem;

  color: hsl(219, 9%, 45%);
}

.eachCart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.prices {
  display: flex;
  gap: 1rem;
  color: hsl(219, 9%, 45%);
}
 
.totalPrice {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.delete {
  cursor: pointer;
}
