.carts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
@media (max-width: 28.15rem) {
  .carts {
    gap: 1rem;
  }
}
.img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.img:hover {
  border: none;
  outline: 0.15rem solid hsl(26, 100%, 55%);
}
