.header {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid hsla(217, 9%, 45%, 0.178);
  position: sticky;
  top: 0;
}
@media (max-width: 50rem) {
  .header {
    padding: 1rem 0;
  }
}
@media (max-width: 34.75rem) {
  .header {
    padding: 1rem 1rem;
    margin: 0;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 50rem) {
  .nav {
    gap: 1rem;
  }
}

.menu {
  display: none;
}
@media (max-width: 50rem) {
  .menu {
    display: inline-block;
  }
}

.link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media (max-width: 50rem) {
  .link {
    display: none;
  }
}

.link li {
  list-style: none;
  text-decoration: none;

  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  font-weight: 400;
}

.link li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.link li:hover a {
  border-bottom: 2px solid hsl(26, 100%, 55%);
}
