.imgComponent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 65rem) {
  .imgComponent {
    justify-content: center;
  }
}

.big {
  width: 25rem;
  height: 26rem;
  border-radius: 1rem;
}
@media (max-width: 65rem) {
  .big {
    width: 20rem;
    height: 21rem;
  }
}
@media (max-width: 50rem) {
  .big {
    width: 25rem;
    height: 21rem;
  }
}
@media (max-width: 28.15rem) {
  .big {
    width: 100vw;
    border-radius: 0;
    overflow: hidden;
  }
}

.smallImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 31.25rem) {
  .smallImages {
    display: none;
  }
}
.smallImages img {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
}

@media (max-width: 65rem) {
  .smallImages img {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 50rem) {
  .smallImages img {
    width: 5rem;
    height: 4rem;
  }
}
.smallImages img:hover {
  border: none;
  outline: 0.15rem solid hsl(26, 100%, 55%);
  filter: brightness(120%);
}

.arrow {
  display: none;
}

.left {
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: 1rem;
  cursor: pointer;
}
.right {
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  right: 0.5rem;
  cursor: pointer;
}
@media (max-width: 28.15rem) {
  .arrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 15rem;
  }
}
