.imgComponent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.big {
  width: 25rem;
  height: 26rem;
  border-radius: 1rem;
}

.smallImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.smallImages img {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
}

.smallImages img:hover {
  border: none;
  outline: 0.15rem solid hsl(26, 100%, 55%);
  filter: brightness(120%);
}
